﻿@model IEnumerable<Figurinhas.MVC.Models.TrocaModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroFigurinhaEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroFigurinhaSaida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroFigurinhaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroFigurinhaSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>


            <td>
                @Html.ActionLink("Aceitar", "Aceitar", new { id = item.TrocaId }) |
                @Html.ActionLink("Rejeitar", "Rejeitar", new { id = item.TrocaId }) |

            </td>
        </tr>
    }

</table>
