﻿@model IEnumerable<Figurinhas.MVC.Models.FigurinhaTrocaModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.NumeroFiguraEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            @Html.HiddenFor(modelItem => item.FiguraEntradaId)
            @Html.HiddenFor(modelItem => item.UsuarioEntradaId)
            @Html.HiddenFor(modelItem => item.FiguraSaidaId)
            @Html.HiddenFor(modelItem => item.UsuarioSaidaId)


            <td>
                @Html.DisplayFor(modelItem => item.NumeroFiguraEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeUsuario)
            </td>


            <td>
                @Html.ActionLink("Trocar", "Solicitar", new { item.FiguraEntradaId, item.UsuarioEntradaId, item.NumeroFiguraEntrada, item.Quantidade,
               item.NomeUsuario}, new { @class = "btn btn-default" })

            </td>
        </tr>
    }

</table>


