﻿@model Figurinhas.MVC.Models.FigurinhaTrocaModel

@{
    ViewBag.Title = "Solicitar";
}

<h2>Solicitar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Figurinha solicitada</h4>
    <hr />


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.FiguraEntradaId)
    @Html.HiddenFor(m => m.Quantidade)
    @Html.HiddenFor(m => m.UsuarioEntradaId)
    @Html.HiddenFor(m => m.UsuarioSaidaId)
    @Html.HiddenFor(m => m.NomeUsuario)
    @Html.HiddenFor(m => m.NumeroFiguraEntrada)


    @{

        var ListITEM = Model.MinhasFigurinhas.Select(s => new SelectListItem()
        {
            Text = s.NumeroDaFigurinha.ToString(),
            Value = s.FigurinhaId.ToString()
        });
    }

    <p>
        Deseja solicitar ao <strong>@Model.NomeUsuario </strong>  a figurinha <strong>@Model.NumeroFiguraEntrada</strong>  informe a figurinha de troca e aguarde a aceitação do usuário.
    </p>

    @if (!string.IsNullOrEmpty(ViewBag.Msg))
    {
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            <span>
                @ViewBag.Msg
            </span>
        </div>
    }


    <div class="form-group">
        @Html.LabelFor(model => model.FiguraSaidaId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.FiguraSaidaId, ListITEM, "Selecione...", new { htmlAttributes = new { @class = "dropbox" } })
            @Html.ValidationMessageFor(model => model.FiguraSaidaId, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enviar" class="btn btn-default" />
        </div>
    </div>

    <p>
       Somente quando <strong>@Model.NomeUsuario </strong> aceitar a figurinha passará para o seu álbum.
    </p>

</div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
