﻿@model IEnumerable<Figurinhas.Domain.Entities.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Ranking dos Maiores Trocadores</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TotalTrocas)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TotalTrocas)
            </td>
            <td></td>
        </tr>
    }

</table>
