﻿@model Figurinhas.Domain.Entities.Figurinha

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar</h2>

<h3>Deseja realmente remover a figurinha?</h3>
<div>
    <h4>Figurinha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroDaFigurinha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDaFigurinha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reservada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservada)
        </dd>

       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
