﻿@model IEnumerable<Figurinhas.Domain.Entities.Figurinha>

@{
    ViewBag.Title = "Index";
}

<h2>Minhas Figurinhas</h2>

<p>
    @Html.ActionLink("Adcionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDaFigurinha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservada)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroDaFigurinha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reservada)
        </td>
      
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.FigurinhaId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.FigurinhaId })
        </td>
    </tr>
}

</table>
